Assets/Plugins/Editor/Uplift/Schemas/Upset.xsd

<?xml version="1.0" encoding="UTF-8"?>


<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="Common.xsd"/>
  <xs:element name="Upset" type="Upset"/>
  <xs:complexType name="Upset">
    <xs:sequence>
      <xs:element type="VersionSpec" name="UnityVersion" />
      <xs:element type="xs:string" name="PackageName" />
      <xs:element type="xs:string" name="PackageVersion" />
      <xs:element type="xs:string" name="PackageLicense" />
      <xs:element type="DependenciesList" name="Dependencies" minOccurs="0" />
      <xs:element type="InstallSpecifications" name="InstallSpecifications" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="InstallSpecifications">
    <xs:sequence>
      <xs:element type="InstallSpec" name="Spec" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="InstallSpec">
    <xs:simpleContent>
      <xs:extension base="xs:string">

        <xs:attribute name="Type" use="required">
          <xs:simpleType>
            <xs:restriction base="xs:NMTOKEN">
              <xs:enumeration value="Base"/>
              <xs:enumeration value="Media"/>
              <xs:enumeration value="Plugin"/>
              <xs:enumeration value="Docs"/>
              <xs:enumeration value="Examples"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="Path" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>
