Assets/uplift/schemas/Upset.xsd

<?xml version="1.0" encoding="UTF-8"?>


<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="Common.xsd"/>
  <xs:element name="Upset" type="Upset"/>
  <xs:complexType name="Upset">
    <xs:sequence>
      <xs:element type="VersionSpec" name="UnityVersion" />
      <xs:element type="xs:string" name="PackageName" />
      <xs:element type="xs:string" name="PackageVersion" />
      <xs:element type="xs:string" name="PackageLicense" />
      <xs:element type="DependenciesList" name="Dependencies" minOccurs="0" />
      <xs:element type="Stub" name="Specification" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>
